# verification

<p><span class="chinese">书法作品真伪鉴别。</span><span class="english">Verification of calligraphy works.</span></p>

<p><span class="chinese">但是还缺乏更深的验证。</span><span class="english">But deeper verification is lacking.</span></p>

<p><span class="chinese">这就是预测的根据</span><span class="english">That is verification of a prediction.</span></p>

<p><span class="chinese">评分表评定伤情的验证。</span><span class="english">Verification of wound in scoring scale.</span></p>

<p><span class="chinese">确认后是否对板子再次进行测试？</span><span class="english">Are boards re-tested after verification?</span></p>

<p><span class="chinese">所有功能最终的确认。</span><span class="english">Final verification of all functionality.</span></p>

<p><span class="chinese">考虑并不很常见的验证点</span><span class="english">Consider not-so-common verification points</span></p>

<p><span class="chinese">请输入正确的附加码。</span><span class="english">Please input the correct Verification Code.</span></p>

<p><span class="chinese">一切都要经过核实。</span><span class="english">This has everything to do with verification.</span></p>

<p><span class="chinese">优秀的系统验证测试人员应该具备哪些素质？</span><span class="english">What makes a good system verification tester?</span></p>

<p><span class="chinese">再输一遍超级用户密码确认一下。</span><span class="english">Enter the root password again for verification.</span></p>

<p><span class="chinese">在可访问性验证测试中使用的工具</span><span class="english">Tools used in accessibility verification testing</span></p>

<p><span class="chinese">处理计量器具外部检定或校准业务。</span><span class="english">To handle outside gage verification or calibration.</span></p>

<p><span class="chinese">一封确认邮件在你注册后会发去你的邮箱里。</span><span class="english">A verification email is sent to you upon registration.</span></p>

<p><span class="chinese">乘客须出示信用咭以便核实。</span><span class="english">Passengers show credit card for verification purposes.</span></p>

<p><span class="chinese">第一个确认点是一个直接的比较。</span><span class="english">The first verification point is a straight comparison.</span></p>

<p><span class="chinese">资产评估报告和验资报告。</span><span class="english">Asset appraisal report and capital verification report.</span></p>

<p><span class="chinese">下步将键入您的电子邮件证明代码。</span><span class="english">The next step is to enter your email verification code.</span></p>

<p><span class="chinese">没有安全门定期校验及试验记录。</span><span class="english">No periodic verification and test record on safety valves.</span></p>

<p><span class="chinese">她录制了她的确认点，并且完成了此次测试。</span><span class="english">She records her verification points and finishes the test.</span></p>

